:root {
  --black-faint: #2626261c;
  --white-main: #F8F8F8;
  --gray-main: #737373;
  --shadow: rgba(0,0,0,0.5);
}

.header{
  display: grid;
  grid-template-columns: 20% auto 20%;
  grid-template-rows: 40px 40px 40px;
  justify-items: center;
  gap: 10px;
}

h1{
  text-align: center;

  font-size: 16px;
  grid-area: 1 / 1 / 2 / 4;
}

h2{
  grid-area: 2 / 2 / 3 / 3;
}

.projects-button{
  grid-area: 2 / 3 / 3 / 4;
}

.controls{
  grid-area: 3 / 2 / 4 / 3;
}

.date-added{
  display: none;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.card{
  width: 50rem;
  padding: 10px;

  display: grid;
  grid-template-columns: 30px auto 20px;
  gap: 10px;
  align-items: center;
}

:hover.card{
  transform: scale(1.01);
  cursor: pointer;
}

.prio, .delete-task{
  font-size: 30px;
}

:hover.icon{
  transform: scale(1.2);
  cursor: pointer;
  z-index: 1;
}

.overlay{
  background-color: var(--shadow);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  display: none;
  justify-content: center;
  align-items: center;
}

/* Projects Modal */
.projects-modal{
  width: 30rem;
  margin: auto;
  background: var(--white-main);
  border-radius: 10px;
  padding: 30px;

  display: none;
}

.list{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.item{
  border: 2px solid var(--black-faint);
  border-radius: 5px;
  padding: 7px;

  display: grid;
  grid-template-columns: 20px auto 20px;
  gap: 10px;
  align-items: center;
}

:hover.item{
  transform: scale(1.03);
  cursor: pointer;
}

.project-title{
  margin: 0;
}

.pencil, .delete-proj{
  font-size: 20px;
  text-align: center;
}

/* Edit Project Name Modal */
.edit-name{
  width: 30rem;
  margin: auto;
  background: var(--white-main);
  border-radius: 10px;
  padding: 30px;

  display: none;
}

/* Create new project modal */
.new-project{
  width: 30rem;
  margin: auto;
  background: var(--white-main);
  border-radius: 10px;
  padding: 30px;
}

/* View task */
.view-task{
  width: 30rem;
  margin: auto;
  background: var(--white-main);
  border-radius: 10px;
  padding: 30px;

  display: none;
}

.title{
  font-size: 24px;
}

.due{
  color: var(--gray-main);
}
